[user]
  name = Christopher Martin
  email = ch.martin@gmail.com
[core]
  excludesfile = ~/.gitignore
  editor = vim
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
  interactive = auto
[alias]
  st = status
  co = checkout
  ci = commit
  llog = log --date=local
[log]
  date = local
[format]
  pretty = %Cgreen%h %Cblue%cr%Cred%d %Cgreen%an%Creset %s
[merge]
  tool = vimdiff
[push]
  default = current
